:root {
    --backgr-pink: rgb(247, 157, 125);
}
.post__left .primary
.post__right {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.post__right ul{
    list-style: none;
}

.post__right li {
    padding: 5px;
    box-shadow: 3px 5px 7px 0px black;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;

}
.currentPage{
    box-shadow: inset 3px 2px 7px 0px black;
}
.post__right li:hover {
    box-shadow: inset 3px 2px 7px 0px black;
}
.post__right ul h5 {
    background-color: var(--backgr-pink);
    padding: 5px 0;
    margin-top: 10px;
    text-align: center;
}
.post__right li a {display: block; width: 100%;}